<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      HBV再活性化対策<br>〜de novo B型肝炎アラート〜
    </h2>
  </div>
  <%# /画面上部の「人生を変えるフリマアプリ」帯部分  %>

  <%# FURIMAが選ばれる3つの理由部分 %>
  <div class='select-reason-contents'>
    <h2 class='title'>
      免疫抑制・化学療法により発症するB型肝炎対策ガイドライン<br><br>
    </h2>
    <p>
    HBV感染患者において免疫抑制・化学療法などによりHBVが再増殖することをHBV再活性化と称する。
    HBV再活性化は、キャリアからの再活性化と既往感染者(HBs抗原陰性、かつHBc抗体またはHBs抗体陽性)からの再活性化に分類される。
    既往感染者からの再活性化による肝炎は、「de novo B型肝炎」と称される。HBV再活性化による肝炎は重症化しやすいだけでなく、
    肝炎の発症により原疾患の治療を困難にさせるため、発症そのものを阻止することが最も重要である。
    </p>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "Gaidline-flowchart.jpeg", class:"list-pict" %>
      </li>
    </ul>
    <h2 class='title'>
      <br><br>添付文書上 B 型肝炎ウイルス再活性化について注意喚起のある薬剤<br><br>
    </h2>
    <p>
     <br><b>【免疫抑制剤】</b><br>
      ▽アザチオプリン（アザニン錠50mg、イムラン錠50mg）<br>
      ▽エベロリムス（サーティカン錠0.25mg、0.5mg、0.75mg）<br>
      ▽シクロスポリン（サンディミュン点滴静注用250mg、ネオーラル内用液10%、ネオーラルカプセル10mg、25mg）<br>
      ▽タクロリムス水和物（グラセプターカプセル0.5mg、1mg、5mg、プログラフカプセル0.5mg、1mg、5mg、プログラフ顆粒0.2mg、1mg、プログラフ注射液2mg、5mg）<br>
      ▽ミコフェノール酸モフェチル（セルセプトカプセル250）<br>
      ▽ミゾリビン（ブレディニン錠 25、50）<br>
      ▽抗ヒト胸腺細胞ウサギ免疫グロブリン（サイモグロブリン点滴静注用25mg）<br>
      ▽グスペリムス塩酸塩（スパニジン点滴静注用100mg）<br>
      ▽バシリキシマブ（遺伝子組換え）（シムレクト静注用 20mg、シムレクト小児用静注用 10mg）<br><br>
      <b>【副腎皮質ステロイド剤】</b><br>
      ▽コルチゾン酢酸エステル（コートン錠25mg）<br>
      ▽デキサメタゾン（デカドロン錠0.5mg、レナデックス錠 4mg、デカドロンエリキシル 0.01%）<br>
      ▽デキサメタゾンパルミチン酸エステル（リメタゾン静注2.5mg）<br>
      ▽デキサメタゾンリン酸エステルナトリウム（デカドロン注射液1.65mg、6.6mg、デキサート注射液1.65mg）<br>
      ▽トリアムシノロン（レダコート錠4mg）<br>
      ▽トリアムシノロンアセトニド（ケナコルト－A皮内用関節腔内用水懸注50mg/5mL、ケナコルト－A筋注用関節腔内用水懸注40mg/1mL）<br>
      ▽フルドロコルチゾン酢酸エステル（フロリネフ錠0.1mg）<br>
      ▽プレドニゾロン（プレドニゾロン錠1mg、5mg、プレドニゾロン散0.1%）<br>
      ▽プレドニゾロンリン酸エステルナトリウム（プレドネマ注腸20mg）<br>
      ▽プレドニゾロンコハク酸エステルナトリウム（水溶性プレドニン10mg、20mg）<br>
      ▽ベタメタゾン（リンデロン錠 0.5mg、リンデロン散0.1%、リンデロンシロップ0.01%）<br>
      ▽ベタメタゾンリン酸エステルナトリウム（リンデロン注2mg（0.4%）、4mg（0.4%）、ステロネマ注腸1.5mg、3mg）<br>
      ▽ベタメタゾン・d－クロルフェニラミンマレイン酸塩（セレスタミン配合錠、セレスタミン配合シロップ）<br>
      ▽ベタメタゾン酢酸エステル・ベタメタゾンリン酸エステルナトリウム（リンデロン懸濁注）<br>
      ▽ヒドロコルチゾン（コートリル錠10mg）<br>
      ▽ヒドロコルチゾンコハク酸エステルナトリウム（ソル・コーテフ注射用100mg）<br>
      ▽ヒドロコルチゾンリン酸エステルナトリウム（水溶性ハイドロコートン注射液100mg）<br>
      ▽メチルプレドニゾロン（メドロール錠 2mg、4mg）<br>
      ▽メチルプレドニゾロンコハク酸エステルナトリウム（ソル・メドロール静注用125mg、500mg）<br>
      ▽メチルプレドニゾロン酢酸エステル（デポ・メドロール水懸注20mg、40mg）<br><br>
      <b>【抗腫瘍用薬】</b><br>
      ▽エベロリムス（アフィニトール錠5mg）<br>
      ▽オファツムマブ（遺伝子組換え）（アーゼラ点滴静注液100mg、1000mg）<br>
      ▽テガフール・ギメラシル・オテラシルカリウム（ティーエスワン配合カプセルT20、T25、ティーエスワン配合顆粒T20、T25）<br>
      ▽テムシロリムス（トーリセル点滴静注液25mg）<br>
      ▽テモゾロミド（テモダールカプセル20mg、100mg、テモダール点滴静注用100mg）<br>
      ▽フルダラビンリン酸エステル（フルダラ錠10mg、フルダラ静注用50mg）<br>
      ▽ベンダムスチン塩酸塩（トレアキシン点滴静注用100mg）<br>
      ▽ボルテゾミブ（ベルケイド注射用3mg）<br>
      ▽メトトレキサート（メソトレキセート錠2.5mg、メソトレキセート点滴静注液200mg、注射用メソトレキセート5mg、50mg）<br>
      ▽モガムリズマブ（遺伝子組換え）（ポテリジオ点滴静注20mg）<br>
      ▽リツキシマブ（遺伝子組換え）（リツキサン点滴静注100mg、500mg）<br>
      ▽シロリムス（ラパリムス錠1mg）<br>
      ▽アレムツズマブ（マブキャンパス点滴静注30mg）<br>
      ▽ルキソリチニブリン酸塩（ジャカビ錠5mg）<br>
      ▽イブルチニブ（イムブルビカカプセル140mg）<br>
      ▽パノビノスタット乳酸塩（ファリーダックカプセル10mg、15mg）<br>
      ▽イマチニブメシル酸塩（グリベック錠100mg）<br>
      ▽ニロチニブ塩酸塩水和物（タシグナカプセル150mg、200mg）<br>
      ▽ダサチニブ水和物（スプリセル錠20mg、50mg）<br>
      ▽ボスチニブ水和物（ボシュリフ錠100mg）<br>
      ▽ポナチニブ塩酸塩（アイクルシグ錠15mg）<br>
      ▽フォロデシン塩酸塩（ムンデシンカプセル100mg）<br>
      ▽レナリドミド水和物（レブラミドカプセル2.5mg、5mg）<br>
      ▽オビヌツズマブ（ガザイバ点滴静注1000mg）<br>
      ▽ロミデプシン注射用（イストダックス点滴静注用10mg）<br><br>
      <b>【抗リウマチ薬】</b><br>
      ▽アダリムマブ（遺伝子組換え）（ヒュミラ皮下注20mgシリンジ0.4mL、40mgシリンジ 0.8mL）<br>
      ▽アバタセプト（遺伝子組換え）（オレンシア点滴静注用250mg）<br>
      ▽レフルノミド（アラバ錠10mg、20mg、100mg）<br>
      ▽インフリキシマブ（遺伝子組換え）（レミケード点滴静注用100）<br>
      ▽エタネルセプト（遺伝子組換え）（エンブレル皮下注用10mg、25mg）<br>
      ▽ゴリムマブ（遺伝子組換え）（シンポニー皮下注50mgシリンジ）<br>
      ▽セルトリズマブペゴル（遺伝子組換え）（シムジア皮下注200mgシリンジ）<br>
      ▽トファシチニブクエン酸塩（ゼルヤンツ錠5mg）<br>
      ▽トリシズマブ（遺伝子組換え）（アクテムラ点滴静注用80mg、200mg、400mg、アクテムラ皮下注162mgシリンジ）<br>
      ▽メトトレキサート（リウマトレックスカプセル2mg）<br>
      ▽バリシチニブ（オルミエント錠2mg、4mg）<br>
      ▽サリルマブ（ケブザラ皮下注150mg、200mgシリンジ）<br>
      ▽ベリムマブ（ベンリスタ点滴静注用120mg、400㎎、皮下注200mgオートインジェクター、200mgシリンジ）<br>
      ▽ペフィシチニブ臭化水素酸塩（スマイラフ錠50mg、100mg）<br>
      ▽ウパダシチニブ水和物（リンヴォック錠7.5mg、15mg）<br>
      ▽フィルゴチニブマレイン酸塩（ジセレカ錠100 ㎎、200mg）<br><br>
      <b>【抗ウイルス薬】</b><br>
      ▽シメプレビルナトリウム（ソブリアードカプセル100mg）<br>
      ▽ダクラタスビル塩酸塩（ダクルインザ錠60mg）<br>
      ▽アスナプレビル（スンベプラカプセル100mg）<br>
      ▽ソホスブビル（ソバルディ錠400mg）<br>
      ▽レジパスビル/ソホスブビル（ハーボニー配合錠）<br>
      ▽エルバスビル（エレルサ錠 50mg）<br>
      ▽グラゾプレビル水和物（グラジナ錠50mg）<br>
      ▽ダクラタスビル塩酸塩・アスナプレビル・ベクラブビル塩酸塩（ジメンシー配合錠）<br>
      ▽グレカプレビル水和物・ピブレンタスビル配合剤（マヴィレット配合錠）<br>
      ▽ソホスブビル/ベルパタスビル配合剤（エプクルーサ配合錠）<br>
    </p>
    <p class='reason-list-description'>
      Ｂ型肝炎治療ガイドライン（第3.4版）引用
    </p>
    <div class="btn-wrap">
      <a href="#" class="btn">所属施設ログイン</a>
    </div>
  </div>
</div>

<%= render "shared/footer" %>